.canvas {
  background-color: #ffffff;
  border-radius: 0.25em;
  border: 1px solid var(--lwc-colorBorder, #dddbda);
  padding: 8px;
}

.heading {
  border-bottom: 1px solid #000000;
  display: flex;
  flex-direction: row;
}

.heading h1 {
  font-size: var(--lwc-fontSize5, 1rem);
  line-height: var(--lwc-lineHeightHeading, 1.25);
  font-weight: var(
    --slds-c-card-heading-font-weight,
    var(--sds-c-card-heading-font-weight, var(--lwc-cardFontWeight, 700))
  );
  flex-grow: 1;
  padding-left: 5px;
}
