.canvas {
  background-color: #ffffff;
  border-radius: 0.25em;
  border: 1px solid var(--lwc-colorBorder, #dddbda);
  padding: 8px 12px;
}

.heading {
  padding-bottom: 8px;
  border-bottom: 1px solid #000000;
  display: flex;
  flex-direction: row;
}

.heading lightning-icon {
  --sds-c-icon-color-foreground-default: #ee4b2b;
}

.heading h1 {
  font-size: var(--lwc-fontSize5, 1rem);
  line-height: var(--lwc-lineHeightHeading, 1.25);
  font-weight: var(
    --slds-c-card-heading-font-weight,
    var(--sds-c-card-heading-font-weight, var(--lwc-cardFontWeight, 700))
  );
  flex-grow: 1;
  padding-left: 5px;
}

.alert-board {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.alert-board > div {
  border-radius: 0.25em;
  box-shadow: 2px 4px 5px 0 #706e6b;
  padding: 10px 8px;
}

.alert-board > div > span {
  font-weight: 700;
}

.loading {
  padding-top: 10px;
  text-align: center;
  position: relative;
  min-height: 300px;
}
